<% if user_signed_in? && current_user.id %>
<h1>BOOKER</h1>
<!doctype html>
<html>
<head>
   <meta charset="utf-8"/>
</head>

<body>
    <div class="content">
        <div class="image">
            <%= image_tag 'ダウンロード (2).png', :size =>'200x200' %>
            <%= link_to "List", books_path, class: "box11" %>
        </div>
        <div class="image">
            <%= image_tag 'saw.png', :size =>'200x200' %>
            <%= link_to "Ranking", edit_book_path(:id), class: "box11" %>
        </div>
        <div class="image">
            <%= image_tag 'bbs.png', :size =>'200x200' %>
            <%= link_to "Collection", user_path(current_user.id), class: "box11" %>
        </div>
    </div>
    <div class="content">
    </div>    
</body>
<% end %>

