	<h1>Page</h1>
<div class="zen">  
  <div class="text-focus-in">
    <%= @book.kill %>
      </div>
  <div class="image_area" >
    <%= image_tag "#{@book.image}" %>
      <div class="title"></div>
      TITLE: <%= @book.title %>
      <div class="author"></div>
      Writer: <%= @book.author %>
      <div class="nickname"></div>
      <%= @book.user.nickname %>
  </div>   
</div>   