	<h1>killer</h1>
<div class="image_area" >
  <%= image_tag "#{@book.image}" %>
    <div class="title"></div>
    TITLE: <%= @book.title %>
    <div class="author"></div>
    著者: <%= @book.author %>
    <div class="kill"></div>
    <%= @book.kill %>
    <div class="nickname"></div>
    <%= @book.user.nickname %>
    
</div>   


