	<h1>Member's Book</h1>
<body>
  <div class="books">
     <% @book.each do |book| %>
       <div class="image_area" >
         <div class="wrap">
             <div class="sliding"></div>
              <%= link_to image_tag("#{book.image}"), book_path(book.id) %>
              <div class="title"></div>
              Title: <%= book.title %>
              <div class="author"></div>
              Writer: <%= book.author %>
              <% if book.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
                  <p><span>Cancel: </span><%=link_to book.favorites.count, book_favorites_path(book.id), method: :delete %></p>
              <% else %>
                  <p><span>Like: </span><%=link_to book.favorites.count, book_favorites_path(book.id), method: :post %></p>
              <% end %>
              <% else %>
              <p><span>Like counts </span><%= book.favorites.count %></p>
            </div>
       </div>   
     <% end %>
  </div>            
</body>
