<!DOCTYPE html>
<html>
  <head>
    <title>Booker5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="title">
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_book_path, class: "header__right--btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
          <%= "ようこそ" %>    
          <%= current_user.nickname%>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
        <% end %>
      </div>
    <div class="title2">  
      <%= link_to "トップページ", root_path, class: "header__left--btn" %>
      </div>
    <%= yield %>
  </body>
</html>


