<!DOCTYPE html>
<html>
  <head>
    <title>Booker5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="title">
      <div class="name">
        <% if user_signed_in? %>
                  <%= "Welcome" %>    
        <%= link_to current_user.nickname, users_path, class: "name" %>
      </div>  
          <%= link_to "NewPost", new_book_path, class: "right--btn" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "right--btn" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "right--btn" %>
          <%= link_to "Sign up", new_user_registration_path, class: "right--btn" %>
        <% end %> 
      <%= link_to "Top Page", root_path, class: "right--btn" %>
      </div>  
    </header>  
    <%= yield %>
  </body>
</html>



