<!DOCTYPE html>
<html>
  <head>
    <title>Booker5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="title">
      <%= link_to "you","#", class: "header__right--btn" %>
      </div>
    <div class="title2">  
      <%= link_to "Main-Page", root_path, class: "header__left--btn" %>
      </div>

    <%= yield %>
  </body>
</html>


